<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>
      Book Shelf
    </title>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div>
        <a href="{{ url_for('index')}}">Book Shelf</a>
      </div>
    </header>

    <div id="eyecatch">
      {% block eyecatch %}
      {% endblock %}
    </div>

    <main>
      {% block main_contents %}
      {% endblock %}
    </main>

    <div id="pre-footer">
      {% block pre_footer %}
        <div class="list">
          <p class="title">
            人気の著者
          </p>
          <ul>
            {% for author in popular_authors %}
              <li>
                <a href="{{ url_for('author', author_id=author.id) }}">
                  {{ author.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endblock %}
    </div>

    <footer>
    </footer>
  </body>
</html>
