<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>
      {% block title %}
        Book Shelf
      {% endblock %}
    </title>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div>
        <a href="{{ url_for('index')}}">Book Shelf</a>
      </div>
    </header>

    <div id="eyecatch">
      {% block eyecatch %}
      {% endblock %}
    </div>

    {% block breadcrumbs %}
      <div id="breadcrumbs">
        {% block breadcrumbs_contents %}
        {% endblock %}
      </div>
    {% endblock %}

    <main>
      {% block main_contents %}
      {% endblock %}
    </main>

    {% block pre_footer %}
      <div id="pre-footer">
        <div class="list">
          {% block popular_author %}
            <div class="popular-author">
              <p class="title">
                注目の作家
              </p>
              <ul>
                {% for author in popular_authors %}
                  <li>
                    <a href="{{ url_for('author', author_id=author.id) }}">
                      {{ author.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endblock %}
        </div>
      </div>
    {% endblock %}

    <footer>
      <div>
        <p>© 2016 Book Shelf</p>
      </div>
    </footer>
  </body>
</html>
