<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>
      Book Search
    </title>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <header>
      header
    </header>

    <main>
      {% block main_contents %}
      {% endblock %}
    </main>

    <footer>
      footer
    </footer>
  </body>
</html>
