{% extends '_base.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/author.css') }}" rel="stylesheet">
{% endblock %}

{% block main_contents %}
  <h1>
    {{ author.name }}
  </h1>

  <div class="description">
    {% if author.url %}
      <p>
        {{ author.name }}のプロフィールは<a href="{{ author.url }}">こちら</a>
      </p>
    {% endif %}
  </div>

  <section class="books">
    <h2>{{ author.name }}の著書一覧</h2>

    {% if books | length > 0 %}
      {% for book in books %}
        <a href="{{ book.url }}">
          <div class="book">
            {% if 'noimage' in book.large_image_url %}
              {% set image_url = url_for('static', filename='image/noimage.png') %}
            {% else %}
              {% set image_url = book.large_image_url %}
            {% endif %}
            <img class="photo" src="{{ image_url }}">

            <div class="title">
              <p>{{ book.title }}</p>
            </div>

            <dl class="spec">
              <dt>出版社</dt>
              <dd>
                {{ book.publisher_name }}
              </dd>
              <dt>概要</dt>
              <dd>
                {{ book.caption }}
              </dd>
            </dl>
          </div>
        </a>

        <div class="clear"></div>
      {% endfor %}
    {% endif %}
  </section>
{% endblock%}
