{% extends '_base.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/authors.css') }}" rel="stylesheet">
{% endblock %}

{% block eyecatch %}
  <img src="{{ url_for('static', filename='image/eyecatch.jpg') }}">
{% endblock%}

{% block main_contents %}

  <div class="list">
    <ul>
      {% for author in authors %}
        <li>
          <a href="{{ url_for('author', author_id=author.id) }}">
            {{ author.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="clear">
  </div>
{% endblock%}

{% block pre_footer %}
  pre-footer
{% endblock%}
