{% extends '_base.html' %}

{% block title %}
  Book Shelf | {{ author.name }}の著書を探す
{% endblock %}

{% block css %}
  <link href="{{ url_for('static', filename='css/author.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/author.js') }}"></script>
{% endblock %}

{% block breadcrumbs_contents %}
  <p>
    <a href="{{ url_for('index')}}">Book Shelf</a> <span>&gt</span>
    {{ author.name }}
  </p >
{% endblock %}

{% block main_contents %}
  <h1>
    {{ author.name }}
  </h1>

  <div class="description">
    {% if author.url %}
      <p>
        {{ author.name }}のプロフィールは<a href="{{ author.url }}" target="_blank">こちら</a>
      </p>
    {% endif %}
  </div>

  <section class="books">
    {% if books | length > 0 %}
      <h2>{{ author.name }}の著書一覧</h2>

      {% include '_parts/_books.html' %}

      <div class="author_id" data-author_id="{{ author.id }}"></div>
    {% endif %}
  </section>
{% endblock %}
