{% extends '_base.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/author.css') }}" rel="stylesheet">
{% endblock %}

{% block main_contents %}
  <h1>
    {{ author.name }}
  </h1>

  <div class="description">
    {% if author.url %}
      <p>
        {{ author.name }}のプロフィールは<a href="{{ author.url }}" target="_blank">こちら</a>
      </p>
    {% endif %}
  </div>

  <section class="books">
    <h2>{{ author.name }}の著書一覧</h2>

    {% if books | length > 0 %}
      {% for book in books %}
          <div class="book">
            <div class="photo">
              <a href="{{ book.url }}">
                <img src="{{ book.large_image_url }}">
              </a>
            </div>

            <div class="title">
              <a href="{{ book.url }}">
                {{ book.title }}
              </a>
            </div>

            <div class="spec">
              <dl>
                <dt>出版社</dt>
                <dd>
                  {{ book.publisher_name }}
                </dd>
                <dt>発売日</dt>
                <dd>
                  {{ book.sales_date }}
                </dd>
                <dt>レビュー平均値</dt>
                <dd>
                  {{ book.review_average }}
                </dd>
                <dt>レビュー数</dt>
                <dd>
                  {{ book.review_count }}
                </dd>

                <div class="clear"></div>
              </dl>
            </div>

            <div class="description">
              {{ book.caption | truncate(185) }}
            </div>

            <div class="detail">
              <a href="{{ book.url }}">詳細を見る</a>
            </div>
          </div>

        <div class="clear"></div>

      {% endfor %}
    {% endif %}
  </section>
{% endblock%}
