@charset "utf-8";

.description {
  margin: 10px;
}

section.books a {
  text-decoration: none;
}

section.books .book {
  height: 210px;
  margin: 10px 5px;
  background-color:#f9f9f9;
  border: 2px solid #bdc8ca;
  border-radius: 5px;
}

section.books .book:hover {
  position: relative;
  background-color:#e9e9e9;
  border: 2px solid #78d19e;
}

section.books .book .title {
  float: left;
  width: 680px;
  color: #555;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 15px 0;
  padding-left: 10px;
}

section.books .book .title p {
  text-decoration: none;
}

section.books .book .photo {
  float: left;
  width: 200px;
  margin: 5px 10px;
  text-align: center;
  background-color: #fff;
}

section.books .book .spec {
  float: left;
  width: 680px;
  margin: 5px 10px;
  color: #555;
  word-wrap: break-word;
}
