@charset "utf-8";

.description {
  margin: 10px;
}

section.books a {
  text-decoration: none;
}

section.books .book {
  height: 210px;
  margin: 10px 5px;
  background-color:#f9f9f9;
  border: 2px solid #bdc8ca;
  border-radius: 5px;
}

section.books .book:hover {
  position: relative;
  background-color:#e9e9e9;
}

section.books .book .title {
  float: left;
  width: 700px;
  margin: 20px 0 15px 0;
  padding-left: 10px;
}

section.books .book .title a {
  color: #555;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 14pt;
}

section.books .book .title a:hover {
  color: #d00068;
  text-decoration: underline;
}

section.books .book .photo {
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
}

section.books .book .spec {
  float: left;
  width: 700px;
  margin: 5px 10px;
  color: #666;
}

section.books .book .spec dt {
  float: left;
  margin-right: 5px;
  font-size: 9pt;
}

section.books .book .spec dd {
  float: left;
  margin-right: 20px;
  font-size: 11pt;
}

section.books .book .description {
  float: left;
  width: 700px;
  margin: 5px 10px;
  color: #666;
  word-wrap: break-word;
  font-size: 11pt;
}

section.books .book .detail {
  float: left;
  width: 700px;
  margin: 15px 10px;
}

section.books .book .detail a {
  float: right;
  color: #fff;
  background-color:#d00068;
  margin-right: 10px;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

section.books .book .detail a:hover {
  float: right;
  color: #fff;
  background-color:#d00068;
  padding: 10px 30px;
  border-radius: 5px;
  position: relative;
  top: 1px;
  box-shadow: none;
}
