@charset "utf-8";

body {
  margin: 0;
}

header {
  height: 60px;
  width: 100%;
  background-color: #f00;
  position: fixed;
  top: 0px;
}

main {
  width: 980px;
  margin: 20px auto;
  padding-top: 50px;
}

footer {
  background-color: #0f0;
  height: 40px;
}
